[flake8]
max-line-length = 100
extend-ignore = E203, E266, E501, W503, E731
max-complexity = 10
exclude = 
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    .venv,
    venv,
    node_modules,
    .tox,
    .mypy_cache,
    .pytest_cache,
    migrations,
    static
per-file-ignores =
    __init__.py:F401
    tests/*:F401,F811
